* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.ontop {
  z-index: 999;
  position: absolute;
  padding: 1rem;
}

#map {
  width: 100%;
  height: 100vh;
}
.box{
  color: white;
  background-color: black;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px 2px yellow;
}
#filter {
  top: 0%;
  left: 40%;
  padding: 0.8rem;
}
.box > input {
  display: none;
}
.box > label {
  transition: 1s;
  display: inline-block;
  padding: 0.2rem;
  margin: 0.3rem;
}
.box>input:checked + label {
  color: yellow;
  border-bottom: 2px solid yellow;
  font-size: large;
}
#type{
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0;
}
#legend {
  bottom: 3%;
  left: 46%;
  border-radius: 1rem;
}
#option {
  width: 290px;
  top: 3%;
  left: 5%;
  border-radius: 0 1rem;
}
#device{
  bottom: 0%;
  color: white;
}
.comp {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  grid-template-columns: 10fr 1fr 1fr;
}
.heading {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.comp span {
  font-family: "Courier New", Courier, monospace;
  margin: 0 5px 10px 5px;
}
.vals {
  text-align: right;
  margin-right: 1rem;
}
.vals + span {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.green {
  background-color: #00ec00;
  box-shadow: 0px 0px 10px 2px lime;
}
.yellow {
  background-color: yellow;
  box-shadow: 0px 0px 10px 2px yellow;
}
.red {
  background-color: red;
  box-shadow: 0px 0px 10px 2px red;
}
.card {
  width: 200px;
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.bottom .vals {
  margin: 0%;
}
.Circle > div {
  width: 0.9rem;
  height: 0.9rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.hexagon-shape {
  position: relative;
  overflow: hidden;
  background: transparent;
  /* add slash at the end of line to see the rhombus *
  outline: solid 1px red;/**/
  width: 4rem;
  height: 4rem;
  left: -2rem;
  transform: rotate(-30deg) skewX(30deg) scaleY(.866);
}
.hexagon-shape:before {
  position: absolute;
  right: 6.7%;
  bottom: 0;
  left: 6.7%;
  top: 0;
  transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
  content: '';
} 
.hex-blue:before{
  background-color: rgba(148, 148, 255, 0.75);
}
.hex-red:before{
  background-color: rgba(255, 0, 0, 0.75);
}
.hex-yellow:before{
  background-color: rgba(255, 255, 0, 0.75);
}
.hex-green-yellow:before{
  background-color: rgba(153, 255, 0, 0.75);
}
.hex-green:before{
  background-color: rgba(0, 128, 0, 0.75);
}
.hex-orange:before{
  background-color: rgba(255, 166, 0, 0.75);
}
@keyframes pulse {
  from {
    box-shadow: 0px 0px 10px 5px;
  }
  to {
    box-shadow: 0px 0px 50px 5px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #000000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 1rem auto;
  animation: spin 1s linear infinite;
}
