* {
  margin: 0%;
  padding: 0;
  box-sizing: content-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.ontop {
  z-index: 999;
  position: absolute;
  padding: 1rem;
}

#map {
  width: 100%;
  height: 100vh;
}
main {
  width: 80%;
  height: 100vh;
}
aside{
  width: 20%;
  height: 100vh;
}
aside .filter{
  border: 0.1px solid rgb(152, 152, 152);
}
aside>*{
  border: 0.1px solid rgb(152, 152, 152);
  width: 100%;
  height: 100%;
}
.box {
  color: white;
  background-color: black;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px 2px yellow;
}
#filterhead h1{
  padding: 0.8rem 0 0 0.8rem;
}
aside input{
  display: none;
}
.filter > label {
  transition: 1s;
  display: inline-block;
  padding: 0.2rem;
  margin: 0.3rem;
  cursor: pointer;
  color: rgb(152, 152, 152);
}
.filter > input:checked + label {
  color: rgb(0, 0, 0);
  /* border-bottom: 2px solid rgb(152, 152, 152); */
  text-decoration:double;
}
aside h2{
  padding-bottom: 0.8rem;
  color: rgb(121, 121, 121);
  font-size: large;
}
aside{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 10fr;
}
.filter {
  display: flex;
  flex-direction: column;
  padding: 0.8rem
}
#legend {
  bottom: 3%;
  left: 46%;
  border-radius: 1rem;
}
#option {
  position: absolute;
  width: 290px;
  border-radius: 0 1rem;
}
#device {
  bottom: 0%;
  color: white;
}
.comp {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  grid-template-columns: 10fr 1fr 1fr;
}
.heading {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.comp span {
  font-family: "Courier New", Courier, monospace;
  margin: 0 5px 10px 5px;
}
.vals {
  text-align: right;
  margin-right: 1rem;
}
.vals + span {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.green {
  background-color: #00ec00;
  box-shadow: 0px 0px 10px 2px lime;
}
.yellow {
  background-color: yellow;
  box-shadow: 0px 0px 10px 2px yellow;
}
.red {
  background-color: red;
  box-shadow: 0px 0px 10px 2px red;
}
.card {
  width: 200px;
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.bottom .vals {
  margin: 0%;
}
.hexbin-container {
  cursor: pointer;
}
.hexbin-container:hover .hexbin-hexagon {
  transition: 200ms;
  stroke: #6ca1f5;
  stroke-width: 3px;
  stroke-opacity: 1;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
#shinebox {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  margin-bottom: 10px;
}

lines {
  height: 10px;
  margin: 10px;
  width: 200px;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
